@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*:not(dialog) { /* Pra tudo, exceto o dialog */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0A0A0A0A;
    color: #F3F4F6;
    font-family: "Bangers", system-ui;
    padding-top: 70px; /* Espaço para o menu fixo */
}

/* Container principal do menu */
.menu-fixo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #000000;
    color: white;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between; /* Distribui os espaços igualmente */
    align-items: center;
    z-index: 1000;
    gap: 20px; /* Espaço entre os grupos */
    border-bottom: 1px solid #374151; /* borda suave */
}

.menu-esquerda {
    display: flex;
    align-items: center;
    gap: 30px; /* Espaço entre logo e menu */
    flex-shrink: 0; /* Impede que encolha demais */
}

.logo img{
    height: 30px;
    transition: transform 0.3s;
}
.logo img:hover{
    transform: scale(1.1); /* Animacao na logo (aumentar) */
}

.menu-inicio_biblioteca {
    display: flex;
    list-style: none;
    gap: 25px; /* Espaço entre links */
}
.menu-inicio_biblioteca a {
    color: #F3F4F6;
    text-decoration: none;
    font-size: 3dvh;
    font-weight: 500;
    padding: 5px 10px; /* Aumentado para dar espaço ao scale */
    position: relative;
    transition: all 0.3s;
    display: inline-block; /* Essencial para transform funcionar */
    transform-origin: center; /* Ponto de origem da transformação */
}

.menu-inicio_biblioteca a:hover {
    color: #D1D5DB;
    transform: scale(1.1);
}

.form-busca { /* Barra de pesquisa */
    
    width: 400px;
    margin: 0 20px;
    display: flex;
    position: relative;
}
.form-busca input {
    width: 250px; /* Largura inicial */
    padding: 8px 15px 8px 15px;
    background-color: #374151;
    border: 1px solid #4B5563;
    border-radius: 4px;
    color: white;
    transition: width 0.6s ease; /* Tempo mais rápido */
}
.form-busca input::placeholder{
    font-size: 100%;
    color: #D1D5DB;
}

/* Expandir quando em foco (clicado/selecionado) */
.form-busca input:focus {
    width: 500px;
    outline: none;
    box-shadow: 0 0 0 2px #1E3A8A;
}
.form-busca input:hover{
    width: 500px;}

/* Omantem expandido se contiver texto */
.form-busca input:not(:placeholder-shown) {
    width: 500px;
}
.btn-login{
    background-color: #15059c; /* Arrumar dps NAO FUNCIONA */
}

.menu-direita {
    display: flex;
    align-items: flex-end;
    gap: 15px;
    flex-shrink: 0; /* Impede que encolha demais */
    margin-left: auto; /* Empurra para a direita */
}

/* Estilo para Carrinho e Login */
.menu-direita img{
    width: 37px;
    transition: transform 0.3s;
}
.menu-direita img:hover{
    transform: scale(1.2);
}
.menu-direita a {
    color: #ffffff;
    text-decoration: none;
    font-size: 3dvh;
    font-weight: 550;
    padding: 8px 12px;
    border-radius: 4px;
    transition: all 0.3s;
}

.menu-direita a:hover {
    color: #b8b6b4;
    transform: scale(1.1);
}

/* Estilo específico para o botão de Login */
.btn-login {
    background-color: #1E3A8A; 
    padding: 10px 12px;
    border-radius: 1cqh;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: #FAFAFA;
    font-family: "Bangers", system-ui;
}
.btn-login:hover {
    background-color: #3B82F6;
    color: #F3F4F6;
}

dialog::backdrop

.menu-lateral-close button{
    margin: 25px;
    margin-top: 20px;
    text-decoration: none;
    color: #F3F4F6;
    background-color: #374151;
    display: flex;
    border-radius: 10%;
    z-index: 1001; /* Profundidade */
    cursor: pointer; /* "Maozinha" */
    align-items: center;
    font-family: "Bangers", system-ui;
    font-size: 25px;
    font-weight: 200;
    position: fixed;
    top: 90px;
    padding: 5px 8px;
}
.menu-lateral-close button:hover {
    background-color: #4B5563;
    color: #F3F4F6;
    }

.menu-lateral-fechado{ /* class pra esconder o menu */
    display: none;
}

.menu-lateral-aberto{ /* id menu aberto */
    display: flex;
    z-index: 1001;
    position: fixed;
    background-color: #1F2937;
    border-radius: 1ch;
    padding: 20px 20px 20px 10px;
    top: 165px;
    left: 45px;
    width: 30vh;
    height: 65vh;
}
.menu-lateral-open{
    width: 100%;
}
.menu-lateral-open-destaque {
    padding: 0px 0px 5px 10px;
    display: flex;
    flex-direction: column;
    gap: 25px; /* Espaço entre links */
}
.menu-lateral-open-destaque li{
    font-size: 30px;
    margin: 5px;
}
.menu-lateral-open-destaque a{
    color: #F3F4F6;
    text-decoration: none;
    display: block; /* Essencial para transform funcionar */
    transform-origin: center; /* Ponto de origem da transformação */
}
.menu-lateral-open-destaque img{
    margin-left: 10px;
    margin-top: 5px;
    width: 30px;
    max-height: max-content;
}
.menu-lateral-open-destaque a:hover{
    transform: scale(1.05);
    color: #D1D5DB;
}

.menu-lateral-open-categorias{
    margin-left: 50px;
    height: 460px;
}
.menu-lateral-open-categorias li{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
}
.menu-CATEGORIAS{
    margin-left: 20px;
}
.menu-lateral-open-categorias a{
    color: #3B82F6;
    text-decoration: none;
    display: inline-block; /* Essencial para transform funcionar */
    transform-origin: center; /* Ponto de origem da transformação */
}
.menu-lateral-open-categorias a:hover{
    color: #D1D5DB;
    transform: scale(1.05);
}

#session-1{
    min-height: 95dvh;
    background-color: #0A0A0A;
    display: flex;
    align-items: center;
    justify-content: center;
}
.games_por_valor{
    background-color: #1f1e1e;
    display: flex;
    width: 90%;
    height: 35vh;
    align-self: flex-end;
    border-radius: 1ch;
}

.games_por_valor-valores{
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: flex-end;
    margin-top: 15px;
    margin-right: 10px;
    gap: 10px;
}
.games_por_valor-valores button{
    background-color: #1E3A8A;
    color: #F3F4F6;
    padding: 10px 10px 10px 10px;
    border-radius: 1ch;
    border: 0;
    font-family: "Bangers", system-ui;
    font-weight: 300;
    align-items: center;
    width: 100px;
    height: 30px;
    cursor: pointer;
}
.games_por_valor-valores button:hover {
    background-color: #3B82F6; /* Azul claro para hover */
}

#session-2{
    min-height: 100dvh;
    background-color: rgb(58, 58, 58);
    
}

#session-3 {
  background-color: rgb(131, 131, 131);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  /*Colunas sessao 3*/
  .session-3-col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    /* border: solid red 1px; */
    width: 25%;
    height: 100vh;
  }
}

.game-list {
  height: 100px;
  width: 80%;
  background: darkgrey;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  .game-icon {
    height: 60px;
    width: 60px;
    background: lightcyan;
  }

  .game-info {
    /* border: solid yellow 1px; */
    width: 70%;
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    align-items: center;
  }
}

#session-4_Rodape{
    min-height: 15vh;
    background-color: #000000;
}


.seta{
    width: 70px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}